# Dependencies
backend/node_modules
frontend/node_modules

# Build output for React
frontend/build

# Environment Variables (VERY IMPORTANT)
backend/.env
frontend/.env
frontend/.env.local

# Logs and system files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE and editor directories
.idea/
.vscode/